.actionflow1 {
    margin-bottom: 200px;
    height: 208px;
    opacity: 1;
    width: 59.83333%;
    margin-bottom: 20px;
    margin-left: 40px;
    border-radius: 12px;
}
.action{
    background: #00000008 0% 0% no-repeat padding-box;
    display: flex;
    /* justify-content: space-between; */
    width: 702px;
    height: 52px;
    opacity: 1;
    border-bottom: 1px solid #E0E0E0;
    position: relative;

}
#act1 {
    border-radius: 12px 12px 0 0;
}
#act3{
    border-radius: 0 0 12px 12PX;
}
.action_name{

    height: 22px;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 14px;
    text-align: left;
    font: normal normal 600 16px/10px Open Sans;
    letter-spacing: 0px;
    color: #141414;
    opacity: 0.96;
}
.Check_mark {
    top: 1254px;
    left: 56px;
    width: 24px;
    height: 24px;
    opacity: 1;
    font-size: 24px;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 14px;
    margin-right: 16px;
    /* text-align: left; */
}
.Checked_mark{
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #02C299;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 14px;
    text-align: left;
    margin-right: 16px;
}

.status{
    top: 1257px;
    left: 96px;
    width: 186px;
    height: 19px;
    text-align: left;
    padding-left: 15px;
    padding-top: 25px;

    font: normal normal normal 14px/10px Open Sans;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;

}
.perform{
    width: 80px;
height: 19px;
text-align: right;
padding-left: 15px;
padding-top: 25px;
font: normal normal normal 14px/10px Open Sans;
letter-spacing: 0px;
color: #141414;
opacity: 1;
position: absolute;
  right: 16px;
}
#do{
    color: #007FFF;
}
#auto{
  color:  #717171D1;
}
#undo{
    color: #141414;
    text-decoration: underline;
}
