.flow2 {
    box-sizing: border-box;
    /* comment */
}

.container {

}

.container__category {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}

.container__category-position {
    height: 40px;
}

.container__category-list {
    height: 36px;
    margin-top: 2px;
    /* text-align: center; */
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__category-list span {
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}


.container__category-list:hover {
    cursor: pointer;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 2px #00000029;
    border-radius: 12px;
    opacity: 1;

}
.container__category-list:hover span {
    font: normal normal 600 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
}

/*  */


/* .container-flow2 {
    margin-top: 16px;
}

.container__list {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 550px;

    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
}

.container__list-title {
    height: 39px;
    border-bottom: 0.5px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
}

.container__title-name {
    font: normal normal 600 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
    margin: 12px 0 10px 12px;
}

.container__title-number {
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin: 12px 12px 10px 0;
}

.container__list-item {
    height: 511px;
    max-height: 508px;
    overflow-y: auto;
}
.container__list-item::-webkit-scrollbar {
    display: none;
} */


.container-flow2-1 {
    margin-top: 16px;
}
.container-flow2-2 {
    max-height: 501px;
    overflow-y: auto;
}
.container-flow2-2::-webkit-scrollbar {
    display: none;
}
.container__list-title {
    height: 39px;
    border-bottom: 0.5px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
}
.container__title-name {
    font: normal normal 600 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
    margin: 12px 0 10px 12px;
}
.container__title-number {
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin: 12px 12px 10px 0;
}

.container__list {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 1px;
    height: 1350px;
}

