.flow1 {
    box-sizing: border-box;
}

.contents-flow1 {
    
}

/* .header-flow1 .name {
    width: 330px;
    height: 55px;
    margin-top: 41px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 996px;
}
 .header-flow1 .name .id {
    width: 161px;
    height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: left;
    font: normal normal 600 14px/19px Open Sans;;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #141414;
}
.header-flow1 .name .compname {
    width: 330px;
    height: 36px;
    margin-top: 0px;
    margin-left: 0px;
    text-align: left;
    font: normal normal 600 26px/36px Open Sans;
    letter-spacing: 0px;
    color: #141414;
}
.header-flow1 .button {
    width: 199px;
    height: 40px;
    margin-top: 61px;
    margin-left: 1137px;
    margin-bottom:  35px;
    background: #54A9FF00 0% 0% no-repeat padding-box;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    opacity: 1;
}

.buttontext {
    width: 71px;
    height: 18px;
    margin-top: 11px;
    margin-right: 64px;
    margin-bottom: 11px;
    margin-left: 64px;
    text-align: right;
    font: normal normal medium 14px/18px Be Vietnam Pro;
    letter-spacing: 0px;
    color: #4C4C4C;
    opacity: 1;
} */
/* .header-flow1 .icon {
    width: 40px;
    height: 40px;
    margin-top: 61px;
    margin-left: 1031px;
    background: #30303000 0% 0% no-repeat padding-box;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
}

.header-flow1 .icon .icon1 {
    width: 21px;
    height: 21px;
    margin-top: 9.33px;
    margin-left: 9.33px;
    background: transparent 0% 0% no-repeat padding-box;
} */
/* .contents-flow1 {
    background-color: rgb(246, 240, 240);
    width: 1366px;
    height: 1380px;
    text-align: center;
    font-size: 150px;
} */